/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body {
    font-size:1em;
    font-family:"Verdana", sans-serif;
}

#container {
    margin: 0 auto 0 auto;
    max-width:600px;
}

#topbar {
    height:216px;
    background-image:url(pics/coffey.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#51473d;
    color:#FFF;
    text-align:right;
    font-size:0.7em;
    padding:2px;
    font-style:italic;
}

#menu {
    background-color:#51473d;
    padding-bottom:0px;
    height:40px;
    margin-top:-13px;
}

#content {
    background-color:#eae7d2;
    overflow:auto;
    padding-top:15px;
}

#maincontent {
    float:left;
    max-width:340px;
    padding-left:10px;
    padding-right:10px;
}

#subcontent {
    float:left;
    border-width:1px;
    border-left-style:dotted;
    border-color:#797066;
    max-width:190px;
    padding-left:10px;
    padding-right:10px;
}

#bottomcontent {
    float:left;
    font-size:0.6em;
    color:#797066; 
    padding:10px;
    font-style:italic;
}

/* Typography - text and color */

h1, h2 {
    font-family:"Times New Roman", serif;
    color:#797066;
    font-weight:normal;
}

h1 {
    margin-top:0px;
    font-size:2em;
    line-height:1em;
}

h2 {
    font-size:1em;
    line-height:1.2em;
    margin-bottom:0em;
}

p {
    font-size:0.7em;
    line-height:1.6em;
    color:#797066;    
}

a {
    color:#797066;
}

ul {
    list-style-type:none;
    padding-left:0px;
    margin-top:0em;
    font-size:0.8em;
}

#subcontent p {
    font-size:0.5em;
    line-height:2.2em;
}

#subcontent h1 {
    font-size:1.2em;
    line-height:2.2em;
}

/* Pictures */

img {
    float:left;
    padding-right:5px;
}

/* Menu */

#menu ul {
    padding-left:10px;

}

#menu li {
    float:left;
    background-color:#707070;
    color:#FFF;
    margin-right:2px;
    margin-top:4px;

}

#menu a {
    text-decoration:none;
    text-transform:capitalize;
    color:#FFF;
    display:block;
    padding:10px;
}

#menu a:hover {background-color:#909090;}

#menu li.active a {
    background-color:#eae7d2;
    color:#707070;
}

#menu > a {
    display:none;
}